@import "colors";
@import "breakpoints";

header {
  display: flex;
  justify-content: space-between;
  background-color: $clr1;
  align-items: baseline;
  color: $clr2;
  padding: 5px 20px;
  position: sticky;
  top: 0;
  .logo {
    text-transform: uppercase;
  }
  nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      margin-left: 20px;
    }
  }
}

@include for-mobile-layout {
  header {
    nav {
      display: none;
    }
  }
}
