// LAYOUT BREAKPOINTS
$break-large: 1000px;
$break-small:700px;
$break-mobile:500px;

@mixin for-large-layout {
    @media (max-width: $break-large) {
      @content;
    }
  }
@mixin for-small-layout {
    @media (max-width: $break-small) {
      @content;
    }
  }
@mixin for-mobile-layout {
    @media (max-width: $break-mobile) {
      @content;
    }
  }