@import 'colors';
.product-preview {
  border: 2px solid #ddd4d4;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background-color: darken($clr2,25%);
  color:$clr1;
  .product-img {
    border-radius: 10px;
    margin-left: 5px;
    width: 100%;
    max-height: 50%;
    object-fit: cover;
  }
  .product-details {
    flex: 1;
    text-align: center;
    > * {
      margin-bottom: 5px;
    }
    .product-price {
      font-size: 1.6rem;
      color: red;
    }
  }
}
